<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&amp;display=swap">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#">Brand</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/">Product List</a></li>
                </ul><a class="btn btn-primary ms-auto" role="button" href="cart.html">See Cart</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 style="margin-bottom: 24px;">PayMent Unsuccessful</h1>
    </div>
    <div class="container">
        <p><strong>AD VITAE CONDIMENTUM CONSECTETUR ENIM DUI, LITORA DICTUM. FELIS AUGUE ERAT, PELLENTESQUE LITORA VULPUTATE TEMPUS LAOREET TORTOR VIVERRA. EGET PULVINAR.</strong></p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>