<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="partials.html :: head"></div>
    <title>Untitled</title>
</head>

<body>
    <div th:replace="partials.html :: navbar"></div>
    <div class="container">
        <form action="">
            <div th:each="cartItem: ${cartItems}">
                <h2 th:text="${}"></h2>
                <input type="number" th:value="${}">
                <button>Place order</button>
            </div>
        </form>

    </div>

    <div th:replace="partials.html :: scripts"></div>
</body>

</html>