<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="partials.html :: head"></div>
    <title>Untitled</title>
</head>

<body>
    <div th:replace="partials.html :: navbar"></div>
    <div class="container">
        <h1 style="margin-bottom: 24px;">Products</h1>
    </div>

    <div class="container main-container">
        <div class="row">
            <div class="products col-lg-4 col-md-6 col-sm-12" th:each="product : ${products}">
                <a th:href="@{/product/}">
                    <h1 th:text="${product.id}"></h1>
                    <input type="hidden" name="productId" th:value="${product.id}">
                    <div class="card" style="width: 23rem;">
                        <img class="img-fluid" src="../images/pexels-mikael-blomkvist-6476587.jpeg" alt="">
                        <h4 class="card-title" name="title" th:text="${product.title}"></h4>
                        <p class="card-text" name="description" th:text="${product.description}"></p>
                    </div>
                </a>
            </div>
        </div>


    </div>
    <div th:replace="partials.html :: scripts"></div>

</body>

</html>