<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="partials.html :: head"></div>
    <title>Untitled</title>
</head>

<body>
    <div th:replace="partials.html :: navbar"></div>
    <div class="container">
        <h1 style="margin-bottom: 24px;">Products</h1>
    </div>
    <div data-reflow-type="product-list" data-reflow-layout="cards" data-reflow-order="date_desc" data-reflow-product-link="/product.html?product={id}"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.reflowhq.com/v1/toolkit.min.js"></script>
    <script src="../static/js/bs-init.js"></script>
</body>

</html>